<ion-header>
  <ion-toolbar>
    <ion-title class="t1">Ver Articulos</ion-title>
    <!--Añadimos un botón tipo flecha para volver atrás-->
    <!--slot="start" pone el botón a la izquierda del encabezado (header)-->
    <ion-buttons slot="start">
      <!--Si existe un historial de páginas se va a la anterior-->
      <!--Si no exite historial nos enviará a la primera página home-->      
      <ion-back-button class="bback1" defaultHref="home" icon="arrow-back-circle-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<br>

<!--Mostramos el id que recibimos de la primera página-->
<ion-content>
  
  <div class="ion-padding">

    <strong class = "i0"> ID del Bolso es:</strong> {{ id }}

    <!--hacemos una lista con los campos que contenga una etiqueta de título y un input con su valor-->
    <ion-item class="i1">
      <ion-label><strong>Referencia:</strong></ion-label>
      <!--document.data  -> es la variable que guarda los datos-->
      <ion-input [(ngModel)]="document.data.Referencia"></ion-input>
    </ion-item>

    <ion-item class="i2">
      <ion-label><strong>Nombre:</strong></ion-label>
      <ion-input [(ngModel)]="document.data.Nombre"></ion-input>
    </ion-item>

    <ion-item class="i3">
      <ion-label><strong>Categoria:</strong></ion-label>
      <ion-input [(ngModel)]="document.data.Categoria"></ion-input>
    </ion-item>

    <ion-item class="i4">
      <ion-label><strong>Color:</strong></ion-label>
      <ion-input [(ngModel)]="document.data.Color"></ion-input>
    </ion-item>

    <ion-item class="i5">
      <ion-label><strong>Herrajes:</strong></ion-label>
      <ion-input [(ngModel)]="document.data.Herrajes"></ion-input>
    </ion-item>

    <ion-item class="i6">
      <ion-label><strong>Imagen:</strong></ion-label>
      <ion-input [(ngModel)]="document.data.Imagen"></ion-input>
    </ion-item>

    <ion-item class="i7">
      <ion-label><strong>Piel:</strong></ion-label>
      <ion-input [(ngModel)]="document.data.Piel"></ion-input>
    </ion-item>

    <ion-item class="i8">
      <ion-label><strong>Fecha Diseño:</strong></ion-label>
      <ion-input [(ngModel)]="document.data.FechaDiseno"></ion-input>
    </ion-item>

    <ion-item class="i9">
      <ion-label><strong>Precio:</strong></ion-label>
      <ion-input [(ngModel)]="document.data.Precio"></ion-input>
    </ion-item>

    <ion-button class="b2" (click)="clicBotonBorrar()">Borrar Bolso</ion-button>
    <ion-button class="b3" (click)="clicBotonModificar()">Modificar Bolso</ion-button>
    <ion-button class="b4" (click)="clicBotonInsertar()">Insertar Bolso</ion-button>
  </div>
</ion-content>




