//ESTILOS FIJOS
ion-content{
  --ion-background-color: linear-gradient(to left, #493320 0%, #86763e 100%);   
}

ion-header{
  --ion-background-color: #493320; 

}

ion-title{
  color: white; 
}

ion-datetime{
  width: 100%;
  text-align: left;   
}


img{
  width: 100px;
  height: auto;
  margin-left: 1%;
}

#textoImagen{
  text-align: center;
  margin-left: 1%;
}


#prc{
  flex: 0 0 15%;
  text-align: right;
}

#prc:after {
  content: "€";
}

#usd{
  margin-left: 2%;
}

#usdValue:before {
  content: "$ ";
}

.ion-padding{
  --ion-background-color: #F1F1F1;
}


.b1, .b2{
  --background: #5c422d;
}

.b3{
  --background: #005FA5;
}


.my-custom-menu{
  margin-top: 20%;
  --width: 50%;
  --height: 60%;
}

.my-custom-menu ion-list {
  --ion-background-color: white;
}


.b4{
  --background: black;
}

.b5{
  --background: coral;
}

.b6{
  --background: darkgreen;
}

.b7{
  --background: green;
  font-size: large;
}

.b8{
  --background: #0099ff;
  font-size: large;
}

.b9{
  --background: navy;
  font-size: large;
}

.b10{
  --background:
  linear-gradient(336deg, rgba(204, 0, 255, 0.8), rgba(0,0,255,0) 70.71%),
  linear-gradient(127deg, rgba(255, 0, 76, 0.815), rgba(0,255,0,0) 70.71%),
  linear-gradient(127deg, rgba(255, 145, 0, 0.815), rgba(0,255,0,0) 70.71%),
  linear-gradient(217deg, rgba(229, 255, 0, 0.8), rgba(255,0,0,0) 70.71%);
  font-size: large;
}




.i0{
  --ion-background-color: #D1D1D1;
  color: #707070;
  font-style: italic;
}

//ETILOS VARIABLES

.bback1{
    color: white; 

    @media screen and (min-width: 1px) and (max-width: 500px)  {    
        --icon-font-size: 20px;   
    }
  
    @media screen and (min-width: 501px) and (max-width: 950px){
        --icon-font-size: 30px; 
    }
  
    @media screen and (min-width: 951px) and (max-width: 2000px){
        --icon-font-size: 40px; 
    }

}

.t1{
    @media screen and (min-width: 1px) and (max-width: 500px)  {    
        font-size: 15px;   
    }
  
    @media screen and (min-width: 501px) and (max-width: 950px){
        font-size: 20px; 
    }
  
    @media screen and (min-width: 951px) and (max-width: 2000px){
        font-size: 30px; 
    }

}

.i0, .i1, .i2, .i3, .i4, .i5, .i6, .i7, .i8, .i9{

    @media screen and (min-width: 1px) and (max-width: 500px)  {    
      font-size: small;   
    }
  
    @media screen and (min-width: 501px) and (max-width: 950px){
      font-size: medium; 
    }
  
    @media screen and (min-width: 951px) and (max-width: 2000px){
      font-size: large; 
    }
  }

  .b1, .b2, .b3{

    @media screen and (min-width: 1px) and (max-width: 500px)  {    
      font-size: x-small  
    }
  
    @media screen and (min-width: 501px) and (max-width: 950px){
      font-size: medium
    }
  
    @media screen and (min-width: 951px) and (max-width: 2000px){
      font-size: x-large
    }
  }
