//ESTILOS FIJOS
ion-content{
  --ion-background-color: linear-gradient(to left, #493320 0%, #86763e 100%);   
}

ion-header{
  --ion-background-color: #493320; 

}

ion-title{
  color: white; 
}

ion-datetime{
  width: 100%;
  text-align: left;   
}

img{
  width: 70px;
  height: auto;
}

#textoImagen{
  text-align: center;
}


.ion-padding{
  --ion-background-color: #F1F1F1;
}


.b1, .b2{
  --background: #5c422d;
}

.b3{
  --background: #005FA5;
}


.i0{
  --ion-background-color: #D1D1D1;
  color: #707070;
  font-style: italic;
}

//ETILOS VARIABLES

.bback1{
    color: white; 

    @media screen and (min-width: 1px) and (max-width: 500px)  {    
        --icon-font-size: 20px;   
    }
  
    @media screen and (min-width: 501px) and (max-width: 950px){
        --icon-font-size: 30px; 
    }
  
    @media screen and (min-width: 951px) and (max-width: 2000px){
        --icon-font-size: 40px; 
    }

}

.t1{
    @media screen and (min-width: 1px) and (max-width: 500px)  {    
        font-size: 15px;   
    }
  
    @media screen and (min-width: 501px) and (max-width: 950px){
        font-size: 20px; 
    }
  
    @media screen and (min-width: 951px) and (max-width: 2000px){
        font-size: 30px; 
    }

}

.i0, .i1, .i2, .i3, .i4, .i5, .i6, .i7, .i8, .i9{

    @media screen and (min-width: 1px) and (max-width: 500px)  {    
      font-size: small;   
    }
  
    @media screen and (min-width: 501px) and (max-width: 950px){
      font-size: medium; 
    }
  
    @media screen and (min-width: 951px) and (max-width: 2000px){
      font-size: large; 
    }
  }

  .b1, .b2, .b3{

    @media screen and (min-width: 1px) and (max-width: 500px)  {    
      font-size: x-small  
    }
  
    @media screen and (min-width: 501px) and (max-width: 950px){
      font-size: medium
    }
  
    @media screen and (min-width: 951px) and (max-width: 2000px){
      font-size: x-large
    }
  }
