#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

#container a {
  text-decoration: none;
}

//ESTILOS FIJOS

ion-content{
  --ion-background-color: #B39176;
  --background: url('../../assets/img/Leather022_1K_Color.jpg') no-repeat center/ cover; 
  //--ion-background-color: linear-gradient(to bottom, #B39176 10%, #925523 70%); 
  
}

ion-header{
  --ion-background-color: #493320; 
  background-image: url('../../assets/img/logo2.png');
  background-repeat: repeat;
}


.card{
  text-align: center;
  --ion-background-color: linear-gradient(to bottom, #493320 0%, #86763e 100%); 
  //--ion-background-color: #925523;
  color:white;
}


.titulo, .tLista{
  color: white;
}


.b1{
  //--background: #925523;
  font-weight: bold;
  margin-right: 10px;
}

.icono{
  color: #A1D2C6;
}


//ETILOS VARIABLES
/*Para que tanto los botones como los textos se hagan
 más grandes o pequeños según tamaño de pantalla*/

.b1{

  @media screen and (min-width: 1px) and (max-width: 500px)  {    
    font-size: xx-small;   
  }

  @media screen and (min-width: 501px) and (max-width: 950px){
    font-size: x-small; 
  }

  @media screen and (min-width: 951px) and (max-width: 2000px){
    font-size: small; 
  }
}


.titulo{

  @media screen and (min-width: 1px) and (max-width: 500px)  {    
    font-size: large;   
  }

  @media screen and (min-width: 501px) and (max-width: 950px){
    font-size: x-large; 
  }

  @media screen and (min-width: 951px) and (max-width: 2000px){
    font-size: xx-large; 
  }
}


.tLista, .tR{

  @media screen and (min-width: 1px) and (max-width: 500px)  {    
    font-size: medium;   
  }

  @media screen and (min-width: 501px) and (max-width: 950px){
    font-size: large; 
  }

  @media screen and (min-width: 951px) and (max-width: 2000px){
    font-size: x-large; 
  }
}

.tB{

  @media screen and (min-width: 1px) and (max-width: 500px)  {    
    font-size: small;   
  }

  @media screen and (min-width: 501px) and (max-width: 950px){
    font-size: medium; 
  }

  @media screen and (min-width: 951px) and (max-width: 2000px){
    font-size: large; 
  }
}


.tI{

  @media screen and (min-width: 1px) and (max-width: 500px)  {    
    width: 40px;
    height: 40px; 
    border-style: solid; 
    border-width: thin;   
  }

  @media screen and (min-width: 501px) and (max-width: 950px){
    width: 80px;
    height: 80px;   
    border-style: solid; 
    border-width: thin; 
  }

  @media screen and (min-width: 951px) and (max-width: 2000px){
    width: 120px;
    height: 120px; 
    border-style: solid; 
    border-width: thin;
  }


  .card{

    @media screen and (min-width: 1px) and (max-width: 500px)  {    
      padding-top: 1em;
      padding-bottom: 1em;
      padding-right: 1em;
      padding-left: 1em;   
    }
  
    @media screen and (min-width: 501px) and (max-width: 950px){
      padding-top: 5em;
      padding-bottom: 5em;
      padding-right: 5em;
      padding-left: 5em;   
    }
  
    @media screen and (min-width: 951px) and (max-width: 2000px){
      padding-top: 10em;
      padding-bottom: 10em;
      padding-right: 10em;
      padding-left: 10em; 
    }
  }


}
